---
layout: default
title: Organizers
hide: false
navigation_weight: 4
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Organizing Committee</h1>



{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}

<!--<h3>Senior Program Committee</h3>-->
<!--<p>-->
<!--<div>-->
<!--<ul>-->
  <!--<li>Ryan Adams    (Harvard University) </li>-->
  <!--<li>Antonio Artes    (UC3M) </li>-->
  <!--<li>David Barber    (UCL) </li>-->
  <!--<li>Edwin Bonilla    (University of New South Wales) </li>-->
  <!--<li>Miguel Carreira-Perpinan    (UC Merced) </li>-->
  <!--<li>Nicolò Cesa-Bianchi    (University of Milan) </li>-->
  <!--<li>Silvia Chiappa    (DeepMind) </li>-->
  <!--<li>Anna Choromanska    (NYU) </li>-->
  <!--<li>Shay Cohen    (University of Edinburgh) </li>-->
  <!--<li>Koby Crammer    (Technion) </li>-->
  <!--<li>Marco Cuturi    (ENSAE/CREST) </li>-->
  <!--<li>Andrew Dai    (Google Brain) </li>-->
  <!--<li>Mark Deisenroth    (Imperial College London) </li>-->
  <!--<li>Finale Doshi-Velez    (Harvard University) </li>-->
  <!--<li>David Duvenaud    (University of Toronto) </li>-->
  <!--<li>Peter Flach    (University of Bristol) </li>-->
  <!--<li>Nicholas Foti    (University of Washington) </li>-->
  <!--<li>Yarin Gal    (University of Cambridge) </li>-->
  <!--<li>Manuel Gomez Rodriguez    (Max Planck Institute for Software Systems) </li>-->
  <!--<li>Noah Goodman    (Stanford University) </li>-->
  <!--<li>Matthew Graham    (University of Edinburgh) </li>-->
  <!--<li>Michael Gutmann    (University of Edinburgh) </li>-->
  <!--<li>Stefan Harmeling    (HHU) </li>-->
  <!--<li>Nicolas Heess    (DeepMind) </li>-->
  <!--<li>Katherine Heller    (Duke University) </li>-->
  <!--<li>Philipp Hennig    (University of Tübingen) </li>-->
  <!--<li>Jose Miguel Hernandez-Lobato    (University of Cambridge) </li>-->
  <!--<li>Daniel Hernández-Lobato    (Autonoma) </li>-->
  <!--<li>Matthias Hoffman    (Google) </li>-->
  <!--<li>Chris Holmes    (University of Oxford) </li>-->
  <!--<li>Dirk Husmeier    (University of Glasgow) </li>-->
  <!--<li>Martin Jaggi    (EPFL) </li>-->
  <!--<li>Navdeep Jaitly    (Google) </li>-->
  <!--<li>Armand Joulin Joulin    (Facebook) </li>-->
  <!--<li>Samuel Kaski    (Aalto University) </li>-->
  <!--<li>Roni Khardon    (Tufts University) </li>-->
  <!--<li>Simon Lacoste-Julien    (Université de Montréal) </li>-->
  <!--<li>Aurelie Lozano    (IBM) </li>-->
  <!--<li>Shakir Mohamed    (DeepMind) </li>-->
  <!--<li>Sayan Mukherjee Mukherjee    (Duke University) </li>-->
  <!--<li>Sebastian Nowozin    (Microsoft) </li>-->
  <!--<li>Michael Osborne    (University of Oxford) </li>-->
  <!--<li>Rajesh Ranganath    (Princeton University) </li>-->
  <!--<li>Vinayak Rao    (Purdue University) </li>-->
  <!--<li>Anne Sabourin    (Telecom ParisTech) </li>-->
  <!--<li>Raul Santos-Rodriguez    (University of Bristol) </li>-->
  <!--<li>Simo Särkkä    (Aalto University) </li>-->
  <!--<li>Fei Sha    (UCLA) </li>-->
  <!--<li>Jon Shlens    (Google) </li>-->
  <!--<li>Zoltan Szabo    (École Polytechnique) </li>-->
  <!--<li>Michalis Titsias    (AUEB) </li>-->
  <!--<li>Ruth Urner    (Max Planck Institute for Intelligent Systems) </li>-->
  <!--<li>Isabel Valera    (University of Cambridge) </li>-->
  <!--<li>Adrian Weller    (University of Cambridge) </li>-->
  <!--<li>Ole Winther    (DTU) </li>-->
  <!--<li>Zhanxing Zhu    (Peking University) </li></p>-->
<!--</ul>-->
<!--</div>-->

General inquiries should be sent to {{ site.email }}.

