---
layout: default
title: Organizers
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Organizing Committee</h1>

General inquiries should be sent to {{ site.email }}.

    

<h3>Program Chairs</h3>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}


<h3>Senior Program Committee</h3>
<div>   
  Akshay Krishnamurthy    (Univ. of Massachusetts, Amherst) <br>
  Alex    Dimakis    (Univ. of Texas, Austin)<br>
  Ambuj    Tewari    (Univ. of Michigan, Ann Arbor)<br>
  Amir    Globerson    (Tel Aviv University) <br>
  Andriy    Mnih    (Google Deepmind) <br>
  Anima Anandkumar (Univ. of California, Irvine) <br>
  Aryeh    Kontorovich    (Ben-Gurion Univ.)<br>
  Bharath    Sriperumbudur    (Pennsylvania State Univ.)<br>
  Brian    Kulis    (Boston Univ.)<br>
  Byron    Boots    (Georgia Tech.)<br>
  Chris Williams    (University of Edinburgh)<br>
  Claire    Monteleoni  (George Washington Univ.)<br>
  Cosma    Shalizi    (Carnegie Mellon Univ.)    <br>
  Daniel Lee    (Univ. of Pennsylvania)<br>
  Daniel    Hsu    (Columbia Univ.)<br>
  David    Duvenaud   (Univ. of Toronto)<br>
  Dino    Sejdinovic    (Oxford Univ.)<br>
  Ery    Arias-Castro    (Univ. of California, San Diego)<br>
  Feiping    Nie (Univ. of Texas, Arlington)<br>
  Francesco    Orabona    (Yahoo)<br>
  Garvesh    Raskutti (Univ. of Wisconsin, Madison)<br>
  Hongyuan    Zha    (Georgia Tech.)<br>
  Iain    Murray    (Univ. of Edinburgh)<br>
  James    Zou    (Microsoft Research)<br>
  Joan    Bruna    (Univ. of California, Berkeley)<br>
  John    Paisley    (Columbia Univ.)<br>
  Joseph    Gonzalez    (Univ. of California, Berkeley)<br>
  Jun    Zhu    (Tsinghua Univ.)<br>
  Kamalika Choudhary (Univ. of California, San Diego)<br>
  Karthik    Sridharan (Cornell Univ.)<br>
  Koby    Crammer    (Technion)<br>
  Kun    Zhang    (Carnegie Mellon Univ.)<br>
  Laura    Balzano    (Univ. of Michigan, Ann Arbor)<br>
  Lawrence    Murray    (Oxford Univ.)<br>
  Le    Song    (Georgia Tech.)<br>
  Lihong    Li    (Microsoft Research)<br>
  Marina    Meila (Univ. of Washington, Seattle)<br>
  Mark    Davenport    (Georgia Tech.)<br>
  Masashi    Sugiyama  (Univ. of Tokyo)<br>
  Matt    Harrison    (Brown Univ.)<br>
  Matthias    Seeger    (Amazon)<br>
  Maxim Raginsky    (Univ. of Illinois, Urbana Champaign)<br>   
  Michael    Mahoney    (Univ. of California, Berkeley)<br>
  Mladen Kolar    (Univ. of Chicago)<br>
  Nati    Srebro    (Toyota Technological Institute, Chicago)<br>
  Po-Ling Loh (Univ. of Wisconsin, Madison)<br>
  Raman    Arora (Johns Hopkins Univ.)<br>
  Remi    Munos (INRIA)<br>
  Rene    Vidal (Johns Hopkins Univ.)<br>
  Rob    Nowak (Univ. of Wisconsin, Madison)<br>
  Roger    Grosse    (Univ. of Toronto)<br>
  Ryan    Adams    (Harvard Univ.)<br>
  Ryan    Tibshirani (Carnegie Mellon Univ.)<br>
  Sahand    Negahban (Yale Univ.)<br>
  Samory    Kpotufe    (Princeton Univ.)<br>
  Sanjoy    Dasgupta (Univ. of California, San Diego)<br>
  Scott    Yih (Microsoft Research)<br>
  Shai    Ben-David (Univ. of Waterloo)<br>
  Sinead    Williamson (Univ. of Texas, Austin)<br>
  Sivaraman    Balakrishnan (Carnegie Mellon Univ.)<br>
  Stefano     Ermon     (Stanford Univ.)<br>
  Steve    Hanneke (independent)<br>
  Steven    Hoi (Singapore Management Univ.) <br>
  Sujay    Sanghavi    (Univ. of Texas, Austin)<br>
  Tong    Zhang    (Rutgers Univ.)<br>
  Vikas    Sindhwani    (Google)<br>
  Vinayak    Rao    (Purdue Univ.)<br>
  Volkan    Cevher    (EPFL)<br>
  Xuanlong    Nguyen    (Univ. of Michigan, Ann Arbor)<br>
  Yudong    Chen    (Cornell Univ.)<br>
  Zhi-Hua    Zhou    (Nanjing Univ.)<br>
  Zoltan    Szabo    (Univ. College, London)<br>  
</div>
    

