---
layout: default
title: Organizers
hide: false
navigation_weight: 4
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Organizing Committee</h1>



{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}

<!--<h3>
Area Chairs</h3>
<p>
  <div>
  <ul>
    <li>Aaditya Ramdas (Carnegie Mellon University)</li>
    <li>Adrian Weller (University of Cambridge)</li>
    <li>Alex Dimakis (University of Texas at Austin)</li>
    <li>Alp Kucukelbir (Columbia University)</li>
    <li>Amin Karbasi (Yale University)</li>
    <li>Amir Globerson (Tel Aviv University, Google)</li>
    <li>Andrew Dai (Google Brain)</li>
    <li>Andrew Gordon Wilson (Cornell University)</li>
    <li>Andriy Mnih (DeepMind)</li>
    <li>Antti Honkela (University of Helsinki)</li>
    <li>Arindam Banerjee (University of Minnesota)</li>
    <li>Armand Joulin (Facebook AI Research)</li>
    <li>Aryeh Kontorovich (Ben-Gurion University of the Negev)</li>
    <li>Balaji Lakshminarayanan (Google DeepMind)</li>
    <li>Barbara Engelhardt (Princeton University)</li>
    <li>Barnabas Poczos (Carnegie Mellon University)</li>
    <li>Been Kim (Google)</li>
    <li>Bharath Sriperumbudur (Pennsylvania State University)</li>
    <li>Boqing Gong (Tencent AI Lab)</li>
    <li>Borja Balle (Amazon)</li>
    <li>Brian Kulis (Boston University)</li>
    <li>Byron Boots (Georgia Institute of Technology)</li>
    <li>Chicheng Zhang (Microsoft Research)</li>
    <li>Claire Monteleoni (University of Colorado Boulder)</li>
    <li>Daniel Hernandez-Lobato (Universidad Autonoma de Madrid)</li>
    <li>Daniel Hsu (Columbia University)</li>
    <li>Daniel Sheldon (University of Massachusetts, Amherst)</li>
    <li>Danilo Jimenez Rezende (Google DeepMind)</li>
    <li>Dino Sejdinovic (University of Oxford)</li>
    <li>Dustin Tran (Columbia University)</li>
    <li>Edwin Bonilla (Data61)</li>
    <li>Ery Arias-Castro (University of California, San Diego)</li>
    <li>Finale Doshi-Velez (Harvard)</li>
    <li>Francesco Orabona (Boston University)</li>
    <li>Gang Niu (RIKEN)</li>
    <li>Han Liu (Northwestern)</li>
    <li>Hidetoshi Shimodaira (Kyoto University)</li>
    <li>Hossein Mobahi (Google Research)</li>
    <li>Ilya Tolstikhin (Google)</li>
    <li>Isabel Valera (MPI-IS)</li>
    <li>Ivor Tsang (University of Technology Sydney)</li>
    <li>James Tin-Yau Kwok (The Hong Kong University of Science and Technology)</li>
    <li>James Zou (Microsoft)</li>
    <li>Jimmy Ba (University of Toronto)</li>
    <li>Joan Bruna (Courant Institute of Mathematical Sciences, NYU, USA)</li>
    <li>John Duchi (Stanford University)</li>
    <li>Jose Miguel Hernandez-Lobato (University of Cambridge)</li>
    <li>Justin Solomon (MIT)</li>
    <li>Katherine Heller (Duke University)</li>
    <li>Kenji Fukumizu (The Institute of Statistical Mathematics)</li>
    <li>Koby Crammer (Technion)</li>
    <li>Laura Balzano (University of Michigan)</li>
    <li>Le Song (Ant Financial &amp; Georgia Institute of Technology)</li>
    <li>Lihong Li (Google Inc.)</li>
    <li>Liwei Wang (Peking University)</li>
    <li>Marco Cuturi (ENSAE/CREST)</li>
    <li>Martin Takac (Lehigh University)</li>
    <li>Matthias Hein (University of Tuebingen)</li>
    <li>Maxim Raginsky (University of Illinois)</li>
    <li>Michael Mahoney (University of California, Berkeley)</li>
    <li>Miguel Carreira-Perpinan (University of California, Merced)</li>
    <li>Mijung Park (MPI Tuebingen)</li>
    <li>Minmin Chen (Google)</li>
    <li>Mladen Kolar (U Chicago)</li>
    <li>Mohammad Emtiyaz Khan (RIKEN)</li>
    <li>Nan Jiang (University of Illinois at Urbana-Champaign)</li>
    <li>Nathan Kallus (Cornell Tech)</li>
    <li>Nathan Srebro (Toyota Technical Institute of Chicago)</li>
    <li>Negar Kiyavash (Georgia Institute of Technology)</li>
    <li>Nihar Shah (Carnegie Mellon University)</li>
    <li>Nika Haghtalab (Cornell University)</li>
    <li>Peter Bartlett (University of California, Berkeley)</li>
    <li>Ping Li (Baidu Research)</li>
    <li>Praneeth Netrapalli (Microsoft Research)</li>
    <li>Prateek Jain (Microsoft Research)</li>
    <li>Purnamrita Sarkar (University of Texas at Austin)</li>
    <li>Rafael Frongillo (CU Boulder)</li>
    <li>Raman Arora (Johns Hopkins University)</li>
    <li>Rebecca Willett (U Chicago)</li>
    <li>Remi Munos (DeepMind)</li>
    <li>Ricardo Silva (UCL)</li>
    <li>Richard Nock (Data61, CSIRO)</li>
    <li>Ruth Urner (York University)</li>
    <li>Samory Kpotufe (Columbia University)</li>
    <li>Samuel Kaski (Aalto University)</li>
    <li>Sanjoy Dasgupta (University of California, San Diego)</li>
    <li>Sanmi Koyejo (University of Illinois, Urbana-Champaign)</li>
    <li>Sayan Mukherjee (Duke)</li>
    <li>Seth Flaxman (Imperial College London)</li>
    <li>Seungjin Choi (POSTECH)</li>
    <li>Sewoong Oh (University of Illinois at Urbana-Champaign)</li>
    <li>Shai Ben-David (University of Waterloo)</li>
    <li>Silvia Chiappa (DeepMind)</li>
    <li>Simon Lacoste-Julien (University of Montreal)</li>
    <li>Sinead Williamson (University of Texas at Austin)</li>
    <li>Stephen Bach (Brown University)</li>
    <li>Sujay Sanghavi (University of Texas at Austin)</li>
    <li>Taiji Suzuki (University of Tokyo / RIKEN)</li>
    <li>Trevor Campbell (UBC)</li>
    <li>Varun Kanade (Oxford)</li>
    <li>Vikas Sindhwani (Google)</li>
    <li>Vinayak Rao (Purdue University)</li>
    <li>Volkan Cevher (EPFL)</li>
    <li>Wee Sun Lee (NUS)</li>
    <li>Xiaojin Zhu (University of Wisconsin-Madison)</li>
    <li>Yarin Gal (Oxford)</li>
    <li>Yingyu Liang (University of Wisconsin Madison)</li>
    <li>Yingzhen Li (Microsoft Research Cambridge)</li>
    <li>Yisong Yue (Caltech)</li>
    <li>Yutian Chen (Deepmind)</li>
    <li>Yu-Xiang Wang (University of California, Santa Barbara)</li>
    <li>Zico Kolter (Carnegie Mellon University)</li>
    <li>Zoltan Szabo (Ecole Polytechnique)</li>  </ul>
  </div>
</p>
-->

General inquiries should be sent to <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
