---
layout: default
title: Key Dates
hide: false
navigation_weight: 5
---

<h1>{{ site.conference.short_name }} {{ site.conference.year }} Key Dates</h1>

<table border="0" cellpadding="2" cellspacing="0" width="90%">
  {% for deadline in site.conference.deadlines %}
  <!-- {% include listdeadline.html %} -->

  <tr><td>{{ deadline.name }}</td><td>{% if deadline.text %}{{ deadline.text }}{% elsif deadline.time %}<time datetime="{{ deadline.time }}">{{ deadline.time | date: "%A, %-d %B %Y %H:%M" }}{% if site.TZ %} ({{ site.TZ }}){% endif %}</time>{% elsif deadline.date %}<time datetime="{{ deadline.date }}">{{ deadline.date | date: "%A, %B %-d, %Y" }}</time>{% endif %}</td></tr>

  {% endfor %}
  <tr><td>Conference start</td><td>{{ site.conference.dates[0] | date: "%A, %B %-d, %Y" }}</td></tr>
</table>

<ul>
  <li>Please be careful to account for summer time differences. For example, 23:59 PDT is 6:59 UTC the next day.</li>
  <li>For more locations, please refer to <a onclick="window.open(this.href); return false;" href="http://www.timeanddate.com/worldclock/converter.html">time zone converter</a>.</li>
  </li>
</ul>


