---
layout: organizers
title: Organizers
hide: false
navigation_weight: 4
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Organizing Committee</h1>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}

<h3>Area Chairs</h3>
<p><div><ul>
<li><b>Adrian Weller</b> (University of Cambridge)</li>
<li><b>Aki Vehtari</b> (Aalto University)</li>
<li><b>Alessandro Lazaric</b> (Facebook AI Research)</li>
<li><b>Alex Graves</b> (DeepMind)</li>
<li><b>Ali Taylan Cemgil</b> (DeepMind)</li>
<li><b>Amin Karbasi</b> (Yale University)</li>
<li><b>Amir-massoud Farahmand</b> (Vector Institute / University of Toronto)</li>
<li><b>Amos Storkey</b> (University of Edinburgh)</li>
<li><b>András György</b> (DeepMind)</li>
<li><b>Andrew Gordon Wilson</b> (New York University)</li>
<li><b>Anna Choromanska</b> (New York University)</li>
<li><b>Antti Honkela</b> (University of Helsinki)</li>
<li><b>Ari Morcos</b> (Facebook AI Research)</li>
<li><b>Arindam Banerjee</b> (University of Minnesota)</li>
<li><b>Arnaud Doucet</b> (Oxford University)</li>
<li><b>Been Kim</b> (Google Brain)</li>
<li><b>Benjamin Van Roy</b> (Stanford University)</li>
<li><b>Bharath Sriperumbudur</b> (Pennsylvania State University)</li>
<li><b>Brian Kulis</b> (Boston University and Amazon)</li>
<li><b>Cameron Freer</b> (Massachusetts Institute of Technology)</li>
<li><b>Carlo Ciliberto</b> (Imperial College London)</li>
<li><b>Caroline Uhler</b> (Massachusetts Institute of Technology)</li>
<li><b>Cassio de Campos</b> (Eindhoven University of Technology)</li>
<li><b>Cédric Archambeau</b> (Amazon)</li>
<li><b>Chris Oates</b> (Newcastle University)</li>
<li><b>Chris Russell</b> (University of Surrey)</li>
<li><b>Christos Dimitrakakis</b> (University of Oslo / Chalmers University of Technology)</li>
<li><b>D.J. Sutherland</b> (TTI-Chicago)</li>
<li><b>Daniel Roy</b> (University of Toronto)</li>
<li><b>Danilo Jimenez Rezende</b> (DeepMind)</li>
<li><b>Danny Tarlow</b> (Google)</li>
<li><b>David Barber</b> (University College London)</li>
<li><b>David Knowles</b> (Columbia University)</li>
<li><b>Doina Precup</b> (DeepMind)</li>
<li><b>Elias Bareinboim</b> (Columbia University)</li>
<li><b>Elmar Rueckert</b> (University of Luebeck)</li>
<li><b>Ery Arias-Castro</b> (University of California, San Diego)</li>
<li><b>Eytan Bakshy</b> (Facebook)</li>
<li><b>Finale Doshi-Velez</b> (Harvard University)</li>
<li><b>Francesco Orabona</b> (Boston University)</li>
<li><b>Gabriel Peyré</b> (CNRS and Ecole Normale Supérieure)</li>
<li><b>Han Liu</b> (Northwestern University)</li>
<li><b>Isabel Valera</b> (Max-Planck Institute for Intelligent Systems, Tübingen)</li>
<li><b>Jens Kober</b> (TU Delft)</li>
<li><b>Jin Tian</b> (Iowa State University)</li>
<li><b>José Miguel Hernández-Lobato</b> (University of Cambridge)</li>
<li><b>Julien Mairal</b> (INRIA)</li>
<li><b>Jun Zhu</b> (Tsinghua University)</li>
<li><b>Justin Solomon</b> (Massachusetts Institute of Technology)</li>
<li><b>Karthikeyan Shanmugam</b><br />IBM Research)</li>
<li><b>Katherine  Heller</b> (Google)</li>
<li><b>Kun Zhang</b> (Carnegie Mellon University)</li>
<li><b>Lorenzo Rosasco</b> (University of Genova / Massachusetts Institute of Technology / Italian Institute of Technology)</li>
<li><b>Magnus Rattray</b> (University of Manchester)</li>
<li><b>Marco Cuturi</b> (Google and CREST/ENSAE)</li>
<li><b>Marius Kloft</b> (University of Southern California)</li>
<li><b>Mark Herbster</b> (University College London)</li>
<li><b>Mark Rowland</b> (DeepMind)</li>
<li><b>Marloes Maathuis</b> (ETH)</li>
<li><b>Martin Takac</b> (Lehigh University)</li>
<li><b>Matteo Pirotta</b> (Facebook AI Research)</li>
<li><b>Maurizio Filippone</b> (EURECOM)</li>
<li><b>Maxim Raginsky</b> (University of Illinois)</li>
<li><b>Michael Mahoney</b> (University of California, Berkeley)</li>
<li><b>Michalis Titsias</b> (DeepMind)</li>
<li><b>Mladen Kolar</b> (University of Chicago)</li>
<li><b>Mohammad Ghavamzadeh</b> (Facebook AI Research)</li>
<li><b>Morten Mørup</b> (Technical University of Denmark)</li>
<li><b>Nathan Kallus</b> (Cornell University)</li>
<li><b>Nevena Lazic</b> (DeepMind)</li>
<li><b>Novi Quadrianto</b> (University of Sussex and HSE)</li>
<li><b>Ohad Shamir</b> (Weizmann Institute of Science)</li>
<li><b>Pedro Ortega</b> (DeepMind)</li>
<li><b>Peter Orbanz</b> (Columbia University)</li>
<li><b>Quanquan Gu</b> (University of California, Los Angeles)</li>
<li><b>Quentin Berthet</b> (Google Brain)</li>
<li><b>Raman Arora</b> (Johns Hopkins University)</li>
<li><b>Ricardo Silva</b> (University College London)</li>
<li><b>Roman Garnett</b> (Washington University in St. Louis)</li>
<li><b>Rowan McAllister</b> (UC Berkeley)</li>
<li><b>Samuel Kaski</b> (Aalto University / University of Manchester)</li>
<li><b>Sanmi Koyejo</b> (University of Illinois and Google)</li>
<li><b>Sashank Reddi</b> (Google)</li>
<li><b>Sayan Mukherjee</b> (Duke University)</li>
<li><b>Shai Ben-David</b> (University of Waterloo)</li>
<li><b>Simo Särkkä</b> (Aalto University)</li>
<li><b>Simon Lacoste-Julien</b> (Mila / Université de Montréal)</li>
<li><b>Sinead Williamson</b> (UT Austin and CognitiveScale)</li>
<li><b>Suvrit Sra</b> (Massachusetts Institute of Technology)</li>
<li><b>Tom Heskes</b> (Radboud University)</li>
<li><b>Tor Lattimore</b> (DeepMind)</li>
<li><b>Umut Simsekli</b> (Telecom ParisTech)</li>
<li><b>Uri Shalit</b> (Technion)</li>
<li><b>Urun Dogan</b> (Microsoft)</li>
<li><b>Varun Kanade</b> (University of Oxford)</li>
<li><b>Vinayak Rao</b> (Purdue University)</li>
<li><b>Volkan Cevher</b> (École Polytechnique Fédérale de Lausanne)</li>
<li><b>Xiaojin Zhu</b> (University of Wisconsin-Madison)</li>
<li><b>Yee Whye Teh</b> (University of Oxford)</li>
<li><b>Yuandong Tian</b> (Facebook)</li>
<li><b>Yu-Xiang Wang</b> (UC Santa Barbara)</li>
<li><b>Zico Kolter</b> (Carnegie Mellon University)</li>
<li><b>Zoltan Szabo</b> (École Polytechnique)</li>
</div></p>

General inquiries should be sent to <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
