---
layout: default
title: Schedule
hide: false
navigation_weight: 7
---

<!--<h1>{{ site.conference.name }} {{ site.conference.year }} Program of Events</h1>-->


<!--<b>VENUE MAP</b>: A plan of the hotel and surrounding areas can be found <a href="Hyatt66.plan.pdf">here</a>.<br><br>-->

<h1>Schedule</h1>
Schedule will be published here once finalised.

<!--<h2>Best Paper Awards</h2>-->

<!--<a href="http://proceedings.mlr.press/v54/newling17a.html">A Sub-Quadratic Exact Medoid Algorithm</a> <br>-->
<!--<font color=red>James Newling, Francois Fleuret</font><br><br>-->

<!--<a href="http://proceedings.mlr.press/v54/bahmani17a.html">Phase Retrieval Meets Statistical Learning Theory: A Flexible Convex Relaxation</a><br>-->
<!--<font color=red>Sohail Bahmani, Justin Romberg</font><br><br>-->

<!--<a href="http://proceedings.mlr.press/v54/naesseth17a.html">Reparameterization Gradients through Acceptance- Rejection Sampling Algorithms</a><br>-->
<!--<font color=red>Christian Naesseth, Francisco Ruiz, Scott Linderman, David Blei</font><br><br>-->


<!--{% for post in site.posts reversed %}-->
<!--{% if post.layout == "singletrack" %}-->
<!--{% include listsingle.html %}-->
<!--{% endif %}-->
<!--{% endfor %}-->

