---
layout: default
title: Sponsors
hide: false
navigation_weight: 9
---

<h1>{{ site.conference.name }} {{ site.conference.year }} Sponsors</h1>


<script type="text/javascript">
    document.getElementById('LNsponsors').id='leftcurrent';
</script>
<h3>Silver Sponsors</h3>
<center>
  <table>
    <tr>
      <td align="center"> 
        <a href="https://www.DESCO.com"><img alt="DESCO" src="{{ site.baseurl }}/logos/DESCO.png" width="200" /></a>
      </td>
    </tr>
  </table>
</center>

<h3>Bronze Sponsors</h3>
<center>
  <table>
    <!--    
    <tr>
      <td colspan="2" align="center">
        <a href="https://aip.riken.jp"><img alt="AIP" src="{{ site.baseurl }}/logos/DeepMind.png" width="200" /></a>
        <br />
        <br />
        <br />
      </td>
    </tr>-->
    <tr>
      <td align="center"> 
        <a href="https://www.amazon.com"><img alt="Amazon" src="{{ site.baseurl }}/logos/Amazon.png" width="200" /></a>
      </td>
      <td align="center">
        <a href="https://deepmind.com"><img alt="DeepMind" src="{{ site.baseurl }}/logos/DeepMind.png" width="200" /></a>
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://www.facebook"><img alt="Facebook" src="{{ site.baseurl }}/logos/Facebook.png" width="200" /></a>
      </td>
      <td align="center">
        <a href="https://www.google.com"><img alt="Google" src="{{ site.baseurl }}/logos/Google.png" width="200" /></a>
      </td>
      <td align="center">
        <a href="https://www.twosigma.com"><img alt="TwoSigma" src="{{ site.baseurl }}/logos/TwoSigma.jpg" width="200" /></a>
      </td>
    </tr>
  </table>
</center>


<!--<h1>AISTATS 2018 Sponsors</h1>-->
<!--For AISTATS sponsorship opportunities, please contact <a-->
    <!--href="http://www.yisongyue.com/">Yisong Yue</a>.-->

    <!--
<h3>Platinum Sponsors</h3>

  <a href="http://www.research.ibm.com/">
  <img border="0" alt="IBM" src="{{ site.baseurl }}/logos/IBM/IBM_LOGO_cropped.png" width="300"></a>
  <a href="https://www.amazon.co.uk/">
    <img border="0" alt="Amazon" src="{{ site.baseurl }}/logos/Amazon/Amazon-logo-RGB.png" width="220"></a>
    -->

<!--<h3>Gold Sponsors</h3>-->

  <!--<a href="http://research.baidu.com">-->
  <!--<img border="0" alt="Baidu Research" src="{{ site.baseurl }}/image/baidu_research_logo_rgb.png" width="220"></a>-->

  <!--
<h3>Silver Sponsors</h3>

  <a href="http://research.baidu.com/">
  <img border="0" alt="Baidu" src="{{ site.baseurl }}/logos/Baidu/Baidu-RGB_cropped.png" width="300"></a>

  <a href="http://uber.ai/">
  <img border="0" alt="Uber" src="{{ site.baseurl }}/logos/Uber/Logotype_digital_black_medium@2x.png" width="230"></a>

<h3>Bronze Sponsors</h3>

<p class="noborders">

  <a href="http://research.google.com">
  <img border="0" alt="Google" src="{{ site.baseurl }}/logos/Google/GoogleLogo.png" width="200"></a>

  <a href="http://www.disneyresearch.com">
  <img border="0" alt="Disney Research" src="{{ site.baseurl }}/logos/Disney_Research/dr-logo-red.png" width="250"></a>

  <a href="http://ai.tencent.com/ailab/index.html">
  <img border="0" alt="Tencent" src="{{ site.baseurl }}/logos/Tencent/170630_Tencent AI Lab_Logo.png" height="88" ></a>

</p>
  -->

<!--<h3>Notable Paper Award Sponsors</h3>-->

<!--
<p>
The AISTATS 2015 Notable Paper Awards are sponsored by the
<a href="http://link.springer.com/journal/11222">Statistics and Computing</a> journal.
</p>
-->



<!--- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<!--{% for sponsor in site.conference.sponsors %}-->
<!--{% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}{% if sponsor.logo %}<img border="0" {% if sponsor.name %}alt="{{ sponsor.name }}"{% endif %} src="/logos/{{ sponsor.logo }}" {% if sponsor.width %}width="{{ sponsor.width }}"{% endif %}>{% elsif sponsor.name %}{{ sponsor.name }}{% endif %}{% if sponsor.url %}</a>{% endif %}{% endfor %}-->

<!--<br><hr><br>-->

<!--<h1>Call for Sponsors</h1>

<center>
<a href="{{ site.baseurl }}/image/AISTATS2020_prospectus.pdf" download="AISTATS2020_prospectus.pdf"><img alt="AIP" src="{{ site.baseurl }}/image/AISTATS2020_prospectus.png" width="300" align="middle"/></a>
<br>
<a href="./image/AISTATS2020_prospectus.pdf" download="AISTATS2020_prospectus.pdf">[Download the prospectus]</a>
</center>

<br>
<br>

All sponsorship queries can be directed to Konstantina Palla  at <a href="mailto:aistats2020sc@gmail.com">aistats2020sc@gmail.com</a>.<br><br>

<!--
The speakers and participants at AISTATS traditionally number some of the most prestigious researchers in the above fields, together with their students and the most promising young talent. We invite contributions from your organization to sponsor AISTATS 2020. 

<!-- Sponsorship brings with it the following key benefits:
<ul>
<li> Direct outreach to experts from industry and academia

<li> Disbursal of merchandise, information brochures, souvenirs

<li> Special recognition within the community

<li> Direct outreach to top quality students and young researchers
</ul>

To help determine the level of contribution, we welcome sponsorship at 4 different levels. Sponsorship provides funds that help ensure the success of the conference. It is also an effective means of advertisement throughout the international machine learning community. The majority of contributions support registration and travel costs for students and young researchers.<br><br>

All sponsorship levels include recognition on the conference website, including a logo and link of your choice, company logo on the conference program, 1 full conference registration (including the conference banquet), and poster board space during the evening poster sessions (2- 3 evenings).<br><br>


<b>&euro;3K Bronze </b>
<ul>
<li> Logo + Link on the conference website

<li> 1 full conference registration (including the conference banquet)

<li> Posterboard space during evening poster sessions (2-3 evenings)
</ul>


<b>&euro;5K Silver </b>
<ul>
<li> Bronze Sponsor benefits

<li> 1 additional conference registrations (including the conference banquet)

<li> Sponsorship of coffee breaks (includes listing in program, registration, plus posterboard space during breaks)
</ul>


<b>&euro;7K Gold</b>
<ul>
<li> Bronze Sponsor benefits

<li> 2 additional full conference registrations (including the conference banquet)

<li> Sponsorship of best paper award OR keynote session
</ul>


<b>&euro;10K Platinum</b>
<ul>
<li> Bronze Sponsor Benefits

<li> Sponsorship of conference banquet OR student travel awards

<li> 3 additional full conference registrations (including the conference banquet)
</ul>-->

