  <center>
    <table border="0" width="1080" cellpadding="0" cellspacing="0">
      <tr>
	<td>
	  <table border="0" width="830px" cellpadding="0" cellspacing="0">
	    <tr><td class="leftborder" width="30px"></td><td>
		<div class="container">
		  <div class="os">
		    <div class="logoImageCell"><img src="{{ site.baseurl }}/image/{{ site.conference.logo }}" class="right" alt="[{{ site.conference.name }} Logo]"></div>
		    <div class="logoTextCell">{{ site.conference.name }} {{ site.conference.year }}</div>
		  </div>
		  
		  
		  <div class="leftmenu">
		    <ul id="leftnavlist">
		      <!-- Conference overview -->
		      {% assign pages = site.pages | sort:"navigation_weight"  %}
		      {% for p in pages%}{% if p.title %}{% unless p.hide %}{% assign l = p.title | downcase | replace:' ','-' | replace:',','' | replace: '/','' %}		      <li><a id="{{ l }}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>{% endunless %}{% endif %}{% endfor %}
		      {% if site.conference.proceedings.show %}
		      {% if site.conference.proceedings.url %}<li><a href="{{ site.conference.proceedings.url }}" target="_blank">Proceedings</a></li>{% endif %}{% endif %}
		      
		    </ul>
		    
		  </div>
{% if page.title %}
{% assign label = page.title | downcase | replace:' ','-' | replace:',','' | replace: '/','' %}
  <script type="text/javascript">
    document.getElementById('{{ label }}').id='leftcurrent';
  </script>
{% endif %}
