<div class="hero-image">
  <div class="hero-text">
    <img src="{{ site.baseurl }}/assets/images/{{ site.conference.logo }}" alt="[{{ site.conference.name }} Logo]">
  {{ site.conference.name }} {{ site.conference.year }}</div>
</div>
<div class="leftmenu">
  {% include nav-bar.html %}
</div>

{% if page.title %}
{% assign label = page.title | downcase | replace:' ','-' | replace:',','' | replace: '/','' %}
<script type="text/javascript">
  document.getElementById('{{ label }}').id='leftcurrent';
</script>
{% endif %}
